{% extends 'base.html.twig' %}

{% block title %}{{ 'app.awardType.index.heading'|trans }} | {{ parent() }}{% endblock %}

{% block body %}
	<h1>{{ 'app.awardType.index.heading'|trans }}</h1>

	<table class="table">
		<thead>
			<tr>
				<th class="filter-match">{{ 'app.fields.awardType.name.label'|trans }}</th>
				<th data-filter="false">{{ 'app.fields.awardType.years.label'|trans }}</th>
				<th id="ColumnSelector" data-sorter="false" data-filter="false" data-column-selector-prototype=""><a href="{{ path('award_type_new') }}" class="btn btn-sm btn-success">{{ 'global.action.new'|trans }}</a></th>
			</tr>
		</thead>
		<tbody>
		{% for awardType in awardTypes %}
			<tr>
				<td>{{ awardType.name }}</td>
				<td>{{ 'global.ago.years'|trans({'years': awardType.years}) ~ ' (' ~ ('app.fields.awardType.column.' ~ awardType.column)|trans ~ ')' }}</td>
				<td>
					<div class="btn-group btn-group-sm">
						<a href="{{ path('award_type_show', {'id': awardType.id}) }}" class="btn btn-sm btn-outline-info" data-bs-target="#Modal" data-bs-toggle="modal" target="_blank">{{ 'global.action.show'|trans }}</a>
						<button role="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" title="{{ 'global.action.expand.menu'|trans }}" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<span class="visually-hidden">{{ 'global.action.expand.menu'|trans }}</span>
						</button>
						<div class="dropdown-menu">
							<a href="{{ path('award_type_edit', {'id': awardType.id}) }}" class="dropdown-item"><i class="fas fa-pencil-alt" title="{{ 'global.action.edit'|trans }}" aria-hidden="true"></i> {{ 'global.action.edit'|trans }}</a>
							<a href="{{ path('award_type_decern', {'awardType': awardType.id}) }}" class="dropdown-item" data-bs-target="#Modal" data-bs-toggle="modal" target="_blank"><i class="fas fa-user-plus" title="{{ 'app.awardType.index.action.decern'|trans }}" aria-hidden="true"></i> {{ 'app.awardType.index.action.decern'|trans }}</a>
							<form method="post" action="{{ path('award_type_delete', {'id': awardType.id}) }}" style="display: list-item" onsubmit="return confirm('{{ 'global.action.confirm_delete'|trans }}');">
								<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ awardType.id) }}">
								<button type="submit" class="dropdown-item"><i class="fas fa-trash" title="{{ 'global.action.delete'|trans }}" aria-hidden="true"></i> {{ 'global.action.delete'|trans }}</button>
							</form>
						</div>
					</div>
				</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
{% endblock %}

{% block stylesheets %}
		<style type="text/css">
			thead { border-top: 0 none transparent !important; }
			.tablesorter-filter.disabled { display: none; }
		</style>
{% endblock %}

{% block javascripts %}
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.3/js/jquery.tablesorter.min.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.3/js/jquery.tablesorter.widgets.min.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.3/js/widgets/widget-columnSelector.min.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
		<script src="{{ asset('js/collection_adder.js') }}"></script>
		<script src="{{ asset('js/dynamic_modal.js') }}"></script>
		<script src="{{ asset('js/ajaxify.js') }}"></script>
		<script src="{{ asset('js/tablesorter_behaviour.js') }}"></script>
		<script src="{{ asset('js/mail_collector.js') }}"></script>
{% endblock %}