{% extends app.request.xmlHttpRequest ? 'base_modal.html.twig' : 'base.html.twig' %}

{% block title %}{{ awardType }}{% if not app.request.xmlHttpRequest %} | {{ parent() }}{% endif %}{% endblock %}

{% block body %}
	{% if not app.request.xmlHttpRequest %}
	<h1>{{ awardType }}</h1>
	{% endif %}

	<table class="table">
		<tbody>
			<tr>
				<th>{{ 'app.fields.awardType.years.label'|trans }}</th>
				<td>{{ 'global.ago.years'|trans({'years': awardType.years}) ~ ' (' ~ ('app.fields.awardType.column.' ~ awardType.column)|trans ~ ')' }}</td>
			</tr>
			{% if notAwarded|length %}
			<tr>
				<th>{{ 'app.awardType.show.not_awarded'|trans }}</th>
				<th>{{ ('app.fields.member.' ~ awardType.column ~ '.label')|trans }}</th>
			</tr>
			{% set currentYear = ('now'|date('Y') * 1) %}
			{% for member in notAwarded %}
			<tr>
				<td>{{ member }}</td>
				{% set year = attribute(member, awardType.column) + awardType.years %}
				{% set type = year > currentYear
					? 'info'
					: (year == currentYear
						? 'success'
						: 'warning')
				-%}
				<td class="table-{{ type }}">{{ attribute(member, awardType.column) }}</td>
			</tr>
			{% endfor %}
			{% endif %}
			{% if awardType.members|length %}
			<tr>
				<th colspan="2"><h2>{{ 'app.fields.awardType.members.label'|trans }}</h2></th>
			</tr>
			{% for award in awardType.members %}
				{% if loop.index0 is even %}<tr>{% endif %}
				<td>{{ award.member }} ({{ award.year }})</td>
				{% if loop.index0 is even and loop.last %}<td></td>{% endif %}
				{% if loop.index0 is odd %}</tr>{% endif %}
			{% endfor %}
			{% endif %}
		</tbody>
	</table>

	{% if not app.request.xmlHttpRequest %}
	<ul class="list-inline float-item">
		<li class="list-inline-item">
			<a href="{{ path('award_type_index') }}" class="btn btn-light"><i class="fas fa-list" title="{{ 'global.action.list'|trans }}" aria-hidden="true"></i><span class="visually-hidden">{{ 'global.action.list'|trans }}</span></a>
		</li>
	{% else %}
</div>
<div class="modal-footer">
	<ul class="list-inline float-end">
	{% endif %}
		<li class="list-inline-item">
			<a href="{{ path('award_type_decern', {'awardType': awardType.id}) }}" class="btn btn-success"><i class="fas fa-user-plus" title="{{ 'app.awardType.show.action.decern'|trans }}" aria-hidden="true"></i><span class="visually-hidden">{{ 'app.awardType.show.action.decern'|trans }}</span></a>
		</li>
		<li class="list-inline-item">
			<a href="{{ path('award_type_edit', {'id': awardType.id}) }}" class="btn btn-warning"><i class="fas fa-pencil-alt" title="{{ 'global.action.edit'|trans }}" aria-hidden="true"></i><span class="visually-hidden">{{ 'global.action.edit'|trans }}</span></a>
		</li>
		<li class="list-inline-item">
			{% if app.request.xmlHttpRequest -%}
			<button type="button" class="btn btn-primary" data-bs-dismiss="modal">{{ 'global.action.close'|trans }}</button>
			{% else %}
			{{ include('award_type/_delete_form.html.twig') }}
			{% endif %}
		</li>
	</ul>
{% endblock %}