{% extends 'base.html.twig' %}

{% block title %}{{ member }} | {{ parent() }}{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2-bootstrap-5-theme/1.3.0/select2-bootstrap-5-theme.min.css" crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock %}

{% block body %}
	<h1>{{ member }}</h1>

	{{ form_start(master_form) }}
	<table class="table">
		<thead>
			<tr>
				<th>{{ 'app.member.duplicates.duplicate'|trans }}</th>
				<th class="text-center"><i class="fas fa-long-arrow-alt-right"></i></th>
				<th>{{ 'app.member.duplicates.master'|trans }}</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th>{{ duplicate_form.vars.data.id }}</th>
				<td class="text-center"><a href="{{ path('member_duplicates', {'master': duplicate_form.vars.data.id, 'duplicate': master_form.vars.data.id}) }}" class="btn btn-info"><i class="fas fa-exchange-alt fa-2x"></i></a></td>
				<th>{{ master_form.vars.data.id }}</th>
			</tr>
			{% for field in duplicate_form -%}
				{% if field.vars.block_prefixes[1] != 'hidden' -%}
			<tr data-name="{{ field.vars.full_name }}">
				<td class="duplicate">{{ form_row(field, {'attr': {'disabled': 'disabled'}|merge((field.vars.multiple is defined and field.vars.multiple) ? {'class': 'searchable'} : {}) }) }}</td>
				<td class="text-center">
					{% if field.vars.multiple is defined and field.vars.multiple or field.vars.compound -%}
					<button type="button" class="btn btn-sm btn-outline-warning action merge{% if field.vars.compound %} compound{% endif %}"><i class="fas fa-compress-arrows-alt"></i></button>
					{% endif -%}
					<button type="button" class="btn btn-sm btn-outline-info action overwrite"><i class="fas fa-copy"></i></button>
				</td>
				<td class="master">{{ form_row(master_form[field.vars.name], (master_form[field.vars.name].vars.multiple is defined and master_form[field.vars.name].vars.multiple) ? {'attr': {'class': 'searchable'}} : {}) }}</td>
			</tr>
				{%- endif %}
			{% endfor -%}
		</tbody>
	</table>
	<button type="submit" title="{{ 'global.action.validate'|trans }}" class="btn btn-primary float-start"><i class="fas fa-check" title="{{ 'global.action.validate'|trans }}" aria-hidden="true"></i></button>
	{{ form_end(master_form) }}

	<ul class="list-inline float-end">
		<li class="list-inline-item">
			<a href="{{ path('member_index') }}" class="btn btn-light"><i class="fas fa-list" title="{{ 'global.action.list'|trans }}" aria-hidden="true"></i><span class="sr-only">{{ 'global.action.list'|trans }}</span></a>
		</li>
	</ul>
{% endblock %}

{% block javascripts %}
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
		<script src="{{ asset('js/role_limiter.js') }}"></script>
		<script>/*<[CDATA[*/
		$('.action').click( function() {
			const $row = $(this).closest('tr');
			let value = $row.find('.duplicate :input').prop('disabled', false).serializeArray();
			let elementSize = 1;
			$row.find('.duplicate :input').prop('disabled', true);
			if ($(this).is('.merge')) {
				const masterValues = $row.find('.master :input').serializeArray();
				const diff = $(value).not(masterValues).get();
				if ($(this).is('.compound')) {
					for (const newValue of diff) {
						$row.find('.master .adder').click();
					}
					elementSize = $($row.find('.master [data-prototype]').data('prototype')).find(':input:not(button)').length;
				}
				value = masterValues.concat(diff);
				if (!$(this).is('.compound')) {
					value = [{
						"name": value[0].name,
						"value": value.map(function(e) {
							return e.value;
						})
					}];
				}
			}
			$.each(value, function(i, e) {
				e.name = e.name.replace(/\d(?=\](\[[\w\[\]]+\])*)/, Math.floor(i / elementSize));
				$row.find('.master [name="' + e.name + '"]').val(e.value).change();
			});
		});
		$(function() {
			$('select.searchable').select2({
				theme: "bootstrap-5"
			});
		});
		/*]]>*/
		</script>
{% endblock %}