{{ form_start(form) }}
	<div class="row mb-3">
		{{ form_row(form.name, {'row_attr': {'class': 'col-12 col-sm-7'}}) }}
		<div class="col-12 col-sm-5{% if not form.vars.valid %} is-invalid{% endif %}">
			{{ form_label(form.icon) }}
			<div class="input-group">
				{{ form_widget(form.icon, {'attr': {'class': 'input-group'}}) }}
				<button class="btn btn-outline-primary icon-verify" type="button">{{ 'app.noteType.action.verify_icon'|trans }}</button>
				<span class="input-group-text"><i class="icon-verifier fas fa-{{ form.icon.vars.value }}"></i></span>
				<span class="input-group-text"><a href="https://fontawesome.com/v5/search?o=r&ic=free&s=solid" target="_blank"><i class="fas fa-life-ring"></a></i></span>
			</div>
			{{ form_help(form.icon) }}
			{{ form_errors(form.icon) }}
		</div>
	</div>
	{{ form_row(form.description, {'row_attr': {'class': 'mb-3'}}) }}
	<button type="submit" title="{{ 'global.action.validate'|trans }}" class="btn btn-primary float-start"><i class="fas fa-check" title="{{ 'global.action.validate'|trans }}" aria-hidden="true"></i></button>
{{ form_end(form) }}
