{{ form_start(form, {'attr': {'class': app.request.xmlHttpRequest ? 'ajaxify' : null}}) }}
	<div class="row mb-3">
		{{ form_row(form.cat, {'row_attr': {'class': 'col-sm-3'}}) }}
		{{ form_row(form.subcat, {'row_attr': {'class': 'col-sm-3'}}) }}
		{{ form_row(form.brand, {'row_attr': {'class': 'col-sm-3'}}) }}{# datalist #}
		{{ form_row(form.number, {'row_attr': {'class': 'col-sm-3'}}) }}
	</div>
	<div class="row mb-3">
		<div class="col-sm-4">
			<label class="form-label mb-3"> </label>
			{{ form_widget(form.usable) }}
		</div>
		{{ form_row(form.property, {'row_attr': {'class': 'col-sm-4'}}) }}
		{{ form_row(form.recipient, {'row_attr': {'class': 'col-sm-4'}}) }}
	</div>
	<div class="row mb-3">
		{{ form_row(form.information) }}
	</div>
	<button type="submit" title="{{ 'global.action.validate'|trans }}" class="btn btn-primary float-start"><i class="fas fa-check" title="{{ 'global.action.validate'|trans }}" aria-hidden="true"></i></button>
{{ form_end(form) }}
