{% extends 'base.html.twig' %}

{% block title %}{{ category }} | {{ parent() }}{% endblock %}

{% block body %}
	<h1>{{ category }}</h1>

	{{ include('category/_form.html.twig') }}

	<ul class="list-inline float-end">
		<li class="list-inline-item">
			<a href="{{ path('category_index') }}" class="btn btn-light"><i class="fas fa-list" title="{{ 'global.action.list'|trans }}" aria-hidden="true"></i><span class="sr-only">{{ 'global.action.list'|trans }}</span></a>
		</li>
		<li class="list-inline-item">
			{{ include('category/_delete_form.html.twig') }}
		</li>
	</ul>
{% endblock %}}