<form method="post" action="{{ path('subcategory_delete', {'id': subcategory.id}) }}" class="float-end" style="display: inline;" onsubmit="return confirm('{{ 'global.action.confirm_delete'|trans }}');">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ subcategory.id) }}">
	<button type="submit" class="btn btn-sm btn-danger"><i class="fas fa-trash" title="{{ 'global.action.delete'|trans }}" aria-hidden="true"></i><span class="visually-hidden">{{ 'global.action.delete'|trans }}</span></button>
</form>
