<nav class="navbar navbar-toggleable-md navbar-expand-lg navbar-dark bg-dark">
	<div class="container">
		<a class="navbar-brand" href="{{ path('home') }}">{{ 'global.site_name'|trans }}</a>
		<button type="button" class="navbar-toggler navbar-toggler-right" data-bs-toggle="collapse" data-bs-target="#Menu" aria-controls="Menu" aria-expanded="false">
			<span class="navbar-toggler-icon" title="{{ 'global.action.expand.menu'|trans }}" aria-hidden="true"></span><span class="sr-only">{{ 'global.action.expand.menu'|trans }}</span>
		</button>

		<div class="collapse navbar-collapse" id="Menu">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item dropdown">
					<a href="#" class="nav-link dropdown-toggle{% if
							('member' in app.current_route)
						or	('status' in app.current_route)
						or	('award' in app.current_route)
					%} active{% endif %}" id="Members" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ 'app.menu.members.heading'|trans }}</a>
					<div class="dropdown-menu dropdown-menu-dark" aria-labelledby="Members">
						<a class="dropdown-item{% if
								('member_index' == app.current_route)
								and app.request.query.has('q')
								and app.request.query.all('q')['statuses'] is defined
								and ('Membre' in app.request.query.all('q')['statuses']['on']) %} active" aria-current="page{% endif %}" href="{{ path('member_index', {'q': {'statuses': {'on': ['Membre']}}}) }}">{{ 'app.menu.members.active'|trans }}</a>
						<a class="dropdown-item{% if
								('member_index' == app.current_route)
								and app.request.query.has('q')
								and app.request.query.all('q')['statuses'] is defined
								and ('Externe' in app.request.query.all('q')['statuses']['on']) %} active" aria-current="page{% endif %}" href="{{ path('member_index', {'q': {'statuses': {'on': ['Externe']}}}) }}">{{ 'app.menu.members.passive'|trans }}</a>
						<a class="dropdown-item{% if 'member_students' == app.current_route %} active" aria-current="page{% endif %}" href="{{ path('member_students') }}">{{ 'app.menu.students'|trans }}</a>
						<a class="dropdown-item{% if
								('member_index' == app.current_route)
								and (not app.request.query.all('q')['statuses'] is defined) %} active" aria-current="page{% endif %}" href="{{ path('member_index') }}">{{ 'app.menu.members.list'|trans }}</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item{% if 'status' in app.current_route %} active" aria-current="page{% endif %}" href="{{ path('status_index') }}">{{ 'app.menu.members.statuses'|trans }}</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item{% if 'award' in app.current_route %} active" aria-current="page{% endif %}" href="{{ path('award_type_index') }}">{{ 'app.menu.members.awards'|trans }}</a>
					</div>
				</li>
				<li class="nav-item dropdown">
					<a href="#" class="nav-link dropdown-toggle{% if
							('instrument' in app.current_route)
						or	('category' in app.current_route)
						or	('property' in app.current_route)
					%} active{% endif %}" id="Instruments" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ 'app.menu.instruments.heading'|trans }}</a>
					<div class="dropdown-menu dropdown-menu-dark" aria-labelledby="Instruments">
						<a class="dropdown-item{% if 'instrument' in app.current_route %} active" aria-current="page{% endif %}" href="{{ path('instrument_index') }}">{{ 'app.menu.instruments.list'|trans }}</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item{% if 'category' in app.current_route %} active" aria-current="page{% endif %}" href="{{ path('category_index') }}">{{ 'app.menu.instruments.categories'|trans }}</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item{% if 'property' in app.current_route %} active" aria-current="page{% endif %}" href="{{ path('property_index') }}">{{ 'app.menu.instruments.properties'|trans }}</a>
					</div>
				</li>
				<li class="nav-item">
					<a class="nav-link{% if 'member_students' == app.current_route %} active" aria-current="page{% endif %}" href="{{ path('member_students') }}">{{ 'app.menu.students'|trans }}</a>
				</li>
				<li class="nav-item">
					<a class="nav-link{% if 'stock' in app.current_route %} active" aria-current="page{% endif %}" href="{{ path('stock_index') }}">{{ 'app.menu.stocks.heading'|trans }}</a>
				</li>
				{% if app.user.username == 'admin' %}
				<li class="nav-item">
					<a class="nav-link{% if ('user' in app.current_route) %} active" aria-current="page{% endif %}" href="{{ path('user_index') }}" id="Users">{{ 'app.menu.users'|trans }}</a>
				</li>
				{% endif %}
			</ul>
			<ul class="navbar-nav d-flex">
				<li class="nav-item">
					<a href="{{ path('logout') }}" class="nav-link"><i class="fas fa-power-off text-danger" aria-hidden="true"></i> {{ 'app.menu.logout'|trans }}</a>
				</li>
			</ul>
		</div>
	</div>
</nav>