{{ form_start(form) }}
	<div class="row mb-3">
		{{ form_row(form.what, {'row_attr': {'class': 'col-9 col-sm-10'}}) }}
		{{ form_row(form.amount, {'row_attr': {'class': 'col-9 col-sm-2'}}) }}
	</div>
	<button type="submit" title="{{ 'global.action.validate'|trans }}" class="btn btn-primary float-start"><i class="fas fa-check" title="{{ 'global.action.validate'|trans }}" aria-hidden="true"></i></button>
{{ form_end(form) }}